<h1>Proyectos</h1>
<h3>Tu también únete! Observa los proyectos que voluntarios han propuesto. Si tienes una idea, por favor cuéntanosla!</h3>
<% @projects.each do |project| %>
  <div class="card">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect  Engineer</p> 
    </div>
  </div>
<% end %>