.input-director-name{
	position: relative;
  left: 1.5%;
}
.input-director-status{
	position: relative;
  left: 2%;
}
.input-director-start-date{
	position: relative;
  left: 2.5%;

}
.label-director-carrera{
	position: relative;
  left: -2%;
}

.label-director-correo{
	position: relative;
  left: -1.5%;
}

.input-director-correo{
	position: relative;
  left: 1%;
}

.input-director-end-date{
	position: relative;
  left: 5%;
}