.show-table {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.container {
  margin: 0 auto;
  max-width: px-to-rems(1300);
  width: 90%;
}

.table-header{
	background-color: white;
	margin: 0rem 1rem;
	font-size: 1.2rem;
}

.table_info{
	text-align: center;
}

.show-table {
  table,
  td {
    font-size: px-to-ems(16);
  }

  th {
    flex: 1;
    font-size: px-to-ems(20);

    &:first-child,
    &:nth-child(2),
    &:nth-child(6),
    &:nth-child(7) {
      flex: 1.5;
    }

    &:last-child {
      flex: .5;
    }

  }

  td {
    flex: 1;

    &:first-child,
    &:nth-child(2),
    &:nth-child(6),
    &:nth-child(7) {
      flex: 1.2	;
    }

    &:last-child {
      flex: .5;
    }
  }

  tr {
    @extend .align-flex;
    @extend .between;
    @extend .vertical;
    border: 1px solid #d8d8d8;
    box-shadow: 0 px-to-rems(3) px-to-rems(4) 0 #d8d8d8;
    margin-bottom: px-to-rems(10);
    padding: px-to-rems(20);
    background-color: white;

    a {
      color: blue;
      font-weight: bold;
    }

    &:first-child {
      border: none;
      box-shadow: none;
    }
  }
  .delete-student{
		color:red;
	}
}

.new-student {
  background-color: green;
  border-radius: px-to-rems(20);
  float:right;
  padding: 10px 20px;
  margin-top: 2rem;	
  margin-right: 3rem;
  color: white;
}