<h1 class="home_H1">CCZ</h1>
<div class="w3-bar w3-black nav-corners">
  <%= link_to "HOME", home_path, class: "w3-bar-item w3-button" %>
  <a href="#" class="w3-bar-item w3-button">Sobre Nosotros</a>
  <%= link_to "ANUNCIOS", announcements_path, class: "w3-bar-item w3-button" %>
  <%= link_to "PROYECTOS", projects_path, class: "w3-bar-item w3-button" %>
  <%= link_to "LOG OUT", destroy_user_session_path, method: 'delete', class: "w3-bar-item w3-button"  %>
</div>