<header>
  <body>
  	<h1 class="home_H1">CCZ</h1>
	  	<ul class="nav_bar">
	  		<li class="nav_button">Home</li>
	  		<li class="nav_button">Sobre Nostros</li>
	  		<li class="nav_button">Proyectos</li>
	  	</ul>
  </body>
</header>